<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    style 
        include ../static/style.css


</head>

<body>
    <div class="full">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/form">Form</a></li>

            </ul>
        </nav>

    </div>

    <div class="contact">contact page of the website where no contact is given :)</div>
</body>

</html>