<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    style 
        include ../static/style.css


</head>

<body>
    <div class="full">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </nav>

        <div class="container">
            <h1 class="border-dashed  rounded-xl">Hurry! Fill this form now</h1>
            <!--This is a plain html in pug  pipe character is used to use if variable is not in between line like here in content -->
            <!-- | #{content} -->

            <form action="/" method="post" id="contact">
                <input type="text" name="name" id="name" placeholder="Enter your name" />

                <input type="text" name="age" id="age" placeholder="Enter your age" />

                <select id="gender" name="gender"> 
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                
                <input type="textarea" name="more" id="more" placeholder="Tell us more about you" />

                <button class="btn">Submit</button>

            </form>
        </div>
    </div>
</body>

</html>